.add-modal {
  padding: 30px 40px;
  max-width: 90vw;
  min-height: fit-content;
  max-height: 80vh;
  overflow-y: auto;
  width: 360px;

  &__title {
    font-weight: 500;
    font-size: 24px;
    color: #000;
  }
}
